body{
    margin: 1%;
}
header{
    padding:1%;
  }
h1{
    text-align: center;

}
h2{
    text-align: center;
    padding: 0%;
}
span{
    /*torna os h3 inline, e elementos inline só ocupam largura necessaria*/
    background-color: yellow;
}
li{
    font-family: 'Courier New', Courier, monospace;
}
.primary_nav li{
    float: left;
  }

ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
ul li:before {
	content: "-";
	position: absolute;
	left: 0;
}
.primary_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top:0;
}
.primary_nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 0.85em 1em;
    text-decoration: none;
}